# README
# - Host-machine defaults. Docker-specific networking is managed in docker-compose.yml.
# - OTEL_EXPORTER_OTLP_HEADERS    = optional for local
# - OTEL_EXPORTER_PROMETHEUS_PORT = Prometheus port. Must match 'targets' in prometheus.yml

NODE_ENV=local
PORT=3001
APP_NAME=user-org-hierarchy
APP_VERSION=1.0.0

DATABASE_URL='postgresql://dbUser:dbPassword@localhost:5432/user_org_hierarchy'

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
OTEL_EXPORTER_OTLP_HEADERS={}
OTEL_EXPORTER_PROMETHEUS_PORT=9464

ELASTICSEARCH_URL='http://localhost:9200'
